<span
  class="{% include acd/_internal/class-name.liquid base='ac-avatar' extra=include.class %}"
  {%- include acd/_internal/attribute.liquid name='id' value=include.id -%}
  {%- include acd/_internal/data-attr.liquid name='data-ac-size' value=include.size -%}
  {%- include acd/_internal/data-attr.liquid name='data-ac-shape' value=include.shape -%}
  {%- if include.border == true or include.border == 'true' -%} data-ac-border="true"{%- endif -%}
  {%- if include.attrs %} {{ include.attrs | strip }}{%- endif -%}
>
  {%- if include.image_src -%}
    <img
      class="ac-avatar__image"
      src="{{ include.image_src | escape }}"
      alt="{{ include.image_alt | default: '' | escape }}"
    />
  {%- elsif include.initials -%}
    <span class="ac-avatar__initials">{{ include.initials | escape }}</span>
  {%- else -%}
    <span class="ac-avatar__placeholder" aria-hidden="true">{{ include.placeholder_html }}</span>
  {%- endif -%}
</span>
