{%- assign is_link = include.href and include.href != '' -%}
{%- assign is_disabled = include.disabled == true or include.disabled == 'true' -%}
{%- assign is_inactive = is_disabled -%}
{%- assign button_style = include.style | default: include.variant -%}
{%- assign component_size = include['size'] -%}
{%- if is_link -%}
  <a
    class="{% include acd/_internal/class-name.liquid base='ac-icon-button' extra=include.class %}"
    {%- include acd/_internal/attribute.liquid name='id' value=include.id -%}
    {%- include acd/_internal/data-attr.liquid name='data-ac-size' value=component_size -%}
    {%- include acd/_internal/data-attr.liquid name='data-ac-shape' value=include.shape -%}
    {%- include acd/_internal/data-attr.liquid name='data-ac-variant' value=button_style -%}
    {%- include acd/_internal/data-attr.liquid name='data-ac-color' value=include.color -%}
    {%- if is_inactive %} aria-disabled="true" tabindex="-1"{%- endif -%}
    {%- unless is_inactive %} href="{{ include.href | escape }}"{%- endunless -%}
    {%- unless is_inactive -%}{%- include acd/_internal/attribute.liquid name='target' value=include.target -%}{%- endunless -%}
    {%- unless is_inactive -%}{%- include acd/_internal/attribute.liquid name='rel' value=include.rel -%}{%- endunless -%}
    {%- include acd/_internal/attribute.liquid name='aria-label' value=include.aria_label -%}
    {%- if include.attrs %} {{ include.attrs | strip }}{%- endif -%}
  >
    <span class="ac-icon-button__icon" aria-hidden="true">{{ include.icon_html }}</span>
  </a>
{%- else -%}
  <button
    class="{% include acd/_internal/class-name.liquid base='ac-icon-button' extra=include.class %}"
    type="{{ include.type | default: 'button' | escape }}"
    {%- include acd/_internal/attribute.liquid name='id' value=include.id -%}
    {%- include acd/_internal/data-attr.liquid name='data-ac-size' value=component_size -%}
    {%- include acd/_internal/data-attr.liquid name='data-ac-shape' value=include.shape -%}
    {%- include acd/_internal/data-attr.liquid name='data-ac-variant' value=button_style -%}
    {%- include acd/_internal/data-attr.liquid name='data-ac-color' value=include.color -%}
    {%- if is_disabled %} disabled{%- endif -%}
    {%- include acd/_internal/attribute.liquid name='aria-label' value=include.aria_label -%}
    {%- if include.attrs %} {{ include.attrs | strip }}{%- endif -%}
  >
    <span class="ac-icon-button__icon" aria-hidden="true">{{ include.icon_html }}</span>
  </button>
{%- endif -%}
