{%- assign is_disabled = include.disabled == true or include.disabled == 'true' -%}
{%- assign option_count = include.options | size -%}
<fieldset
  class="{% include acd/_internal/class-name.liquid base='ac-segmented-picker' extra=include.class %}"
  {%- include acd/_internal/attribute.liquid name='id' value=include.id -%}
  {%- include acd/_internal/data-attr.liquid name='data-ac-color' value=include.color -%}
  {%- if is_disabled -%} data-ac-disabled="true"{%- endif -%}
  {%- if include.attrs %} {{ include.attrs | strip }}{%- endif -%}
>
  {%- if include.legend -%}
    <legend class="ac-field-legend">{{ include.legend | escape }}</legend>
  {%- endif -%}
  <div class="ac-segmented-picker__list" style="--ac-segmented-picker-count: {{ option_count }};">
    {%- for option in include.options -%}
      {%- assign option_checked = option.checked == true or option.checked == 'true' -%}
      {%- assign option_disabled = is_disabled or option.disabled == true or option.disabled == 'true' -%}
      <div class="ac-segmented-picker__option">
        <label class="ac-segmented-picker__label-wrap">
          <input
            class="ac-segmented-picker__input"
            type="radio"
            name="{{ option.name | default: include.name | escape }}"
            {%- include acd/_internal/attribute.liquid name='value' value=option.value -%}
            {%- if option_checked -%} checked{%- endif -%}
            {%- if option_disabled -%} disabled{%- endif -%}
          />
          <span class="ac-segmented-picker__label">{{ option.label | escape }}</span>
        </label>
      </div>
    {%- endfor -%}
  </div>
</fieldset>
