{%- assign element = 'span' -%}
{%- if include.href and include.href != '' -%}
  {%- assign element = 'a' -%}
{%- elsif include.button == true or include.button == 'true' -%}
  {%- assign element = 'button' -%}
{%- endif -%}
<{{ element }}
  class="{% include acd/_internal/class-name.liquid base='ac-tag' extra=include.class %}"
  {%- include acd/_internal/attribute.liquid name='id' value=include.id -%}
  {%- include acd/_internal/data-attr.liquid name='data-ac-variant' value=include.variant -%}
  {%- include acd/_internal/data-attr.liquid name='data-ac-size' value=include.size -%}
  {%- include acd/_internal/data-attr.liquid name='data-ac-color' value=include.color -%}
  {%- if element == 'a' %} href="{{ include.href | escape }}"{%- endif -%}
  {%- if element == 'button' %} type="{{ include.type | default: 'button' | escape }}"{%- endif -%}
  {%- if include.attrs %} {{ include.attrs | strip }}{%- endif -%}
>
  {%- if include.icon_html -%}
    <span class="ac-tag__icon" aria-hidden="true">{{ include.icon_html }}</span>
  {%- endif -%}
  <span class="ac-tag__label">{{ include.label | escape }}</span>
</{{ element }}>
